body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    /* height: 100; */
    
}

.big-cont{
    height: 87.7vh;
    /* width: 100vw; */
    /* position: relative; */
    overflow: hidden;
    background-image: url('../images/bk-cntct1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: large;
    font-weight: bolder;
    /* background-color: rgba(255, 255, 255, 0.637); */
    /* background-image: url("../images/summary.jpg"); */
    /* background-color: rgba(255, 0, 0, 0.068); */
    background-position: right;
    margin-left: -120px;
    border: 2px solid white;
    padding: 20px 50px 20px 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
    animation: fadeIn 2.5s ease-out;
}

h1 {
    color: #333;
    margin-bottom: 10px;
    text-decoration-line: underline;
    text-decoration-style: dotted;
    text-decoration-color: rgb(8, 80, 80);
}

p {
    color: white;
    margin-bottom: 20px;
}

label {
    display: block;
    color: #333;
    margin-bottom: 5px;
    text-align: left;
}

input[type="text"],
input[type="email"],
textarea {
    background-color: transparent;
    color: white;
    font-weight: bolder;
    font-size: large;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    /* border: 1px solid #ccc; */
    border: none;
    /* background-color: rgba(255, 0, 0, 0.233); */
    background-image: url("../images/bg5.jpg");
    background-position: center;
    border-radius: 5px;
    font-size: 16px;
}

::placeholder {
    color: white;
    font-weight: bold;
}

button {
    padding: 10px 20px;
    /* background-color: black; */
    color: white;
    font-weight: bolder;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    /* background: #F00; */
    /* transition: background-color 0.3s; */
    background: linear-gradient(to right, #f7060e 0%, #f8b3b5 50%, #f4e7e7 50%, #090808 100%);
    background-size: 200% 100%;
    background-position: 100% 0;
    transition: background-position 0.3s;
    text-decoration: none;
    background-image: url("../images/bg5.jpg");
    background-position: center;
    background-size: cover;
}

button:hover{
    background-position:0 0;
}

.note{
    background-color: white;
    display: flex;
    gap: 200px;
    justify-content: center;
    color: #666;
    font-size: large;
    font-weight: bold;
}


.navbar {
    position: sticky;
    top: 0;
    width: 100%;
    background-image: url("../images/nav.png");
    opacity: 0.9;
    display: flex;
    align-items: center;
    padding: 0px 0px;
    z-index: 1000;
    flex-wrap: wrap;
}
.navbar .logo img {
    height: 65px;
    width: 112px;
    border: 3px solid rgba(0, 0, 0, 0);
    outline: 2px solid white;
    border-radius: 6px;
    /* margin-right: 20px; */
}

.navbar ul {
    /* left: -150px; */
    /* width: 85%; */
    /* list-style: none; */
    /* display: flex; */
    /* justify-content: space-evenly; */
    /* gap: 10px; */
    /* Reduced gap to fit all items */
    /* margin: 0; */
    /* padding: 0; */
    /* flex-wrap: wrap; */
    /* Allow items to wrap to the next line if necessary */
    /* font-weight: bolder; */
    
}

.navbar ul li {
    display: flex;
    align-items: center;
    background: linear-gradient(to right, #fd0202 50%, #fd919a2d 51%, #dda9a900 50%, #f8d3d300 100%);
    background-size: 210% 10%;
    background-position: bottom right;
    /* transition: background-position 0.3s; */
    background-color: rgba(255, 255, 255, 0);

    /* another animation */

    transition: background-position 1s ; 
    /* background: 
    linear-gradient(to right, rgb(84, 220, 54), rgb(30, 243, 58)),
    linear-gradient(to right, rgb(21, 255, 0), rgb(43, 255, 0), rgb(0, 200, 53));
    background-size: 100% 0.1em, 0 0.1em;
    background-position: 100% 100%, 0 100%;*/
    background-repeat: no-repeat; 
}

.navbar ul li:hover{
    background-size: 200% 10%;

    background-position: bottom left;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
    font-size: 18px;
    /* Adjusted font size */
    padding: 5px 10px;
    border-radius: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: background-color 0.3s, color 0.3s;
}

.navbar a:hover {
    color: red;
}



.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

@media screen and (max-width: 480px) {

    body {
        height: 100vh;
        width: 100vw;
    }

    .navbar {
        width: 100vw;
        gap: 0;
    }
    .navbar .logo img {
        height: 55px;
        width: 65px;
    }
    .navbar a {
        font-size: 12px;
    }
    .navbar ul {
        width: 55%;
        margin-left: 0px;
        background-color: red;
        gap: 0px;
    }





    

.navbar {
    position: sticky;
    top: 0;
    width: 100%;
    background-image: url("../images/nav.png");
    opacity: 0.9;
    display: flex;
    
    align-items:flex-start;
    padding: 0px 0px;
    z-index: 1000;
    flex-wrap: wrap;
}
.navbar .logo img {
    display: inline;
    height: 55px;
    width: 65px;
    border: 3px solid rgba(0, 0, 0, 0);
    outline: 2px solid white;
    border-radius: 6px;
    /* margin-right: 20px; */
}

.navbar ul {
    /* left: 150px; */
    width: 70%;
    list-style: none;
    display: inline;
    /* gap: 10px; */
    /* Reduced gap to fit all items */
    /* margin: 0; */
    padding: 0;
    /* flex-wrap: wrap; */
    /* Allow items to wrap to the next line if necessary */
    font-weight: bolder;
    
}

.navbar ul li {
    display: flex;
    align-items: end;
    background: linear-gradient(to right, #fd0202 50%, #fd919a2d 51%, #dda9a900 50%, #f8d3d300 100%);
    background-size: 210% 10%;
    background-position: bottom right;
    /* transition: background-position 0.3s; */
    background-color: rgba(255, 255, 255, 0);

    /* another animation */

    transition: background-position 1s ; 
    /* background: 
    linear-gradient(to right, rgb(84, 220, 54), rgb(30, 243, 58)),
    linear-gradient(to right, rgb(21, 255, 0), rgb(43, 255, 0), rgb(0, 200, 53));
    background-size: 100% 0.1em, 0 0.1em;
    background-position: 100% 100%, 0 100%;*/
    background-repeat: no-repeat; 
}

.navbar ul li:hover{
    background-size: 200% 10%;

    background-position: bottom left;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
    font-size: 18px;
    /* Adjusted font size */
    padding: 5px 10px;
    border-radius: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: background-color 0.3s, color 0.3s;
}






    
.contact-container {
    margin-left: -20px;
}

.big-cont{
    height: 87.7vh;
    /* width: 100vw; */
    /* position: relative; */
    overflow: hidden;
    background-image: url('../images/bk-cntct1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}


.note{
    background-color: white;
    display: flex;
    gap: 0px;
    justify-content: center;
    color: #666;
    font-size: large;
    font-weight: bold;

}

}