body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    /* width: 100vw; */
    height: 100vh;
}

.big-cont{
    width: 100%;
    /* height: 87.7vh; */
    height: 87.7%;
    /* width: 100vw; */
    /* position: relative; */
    overflow: hidden;
    background-image: url('../images/bk-cntct1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-container {
    display: flex;
    width: 400px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: large;
    font-weight: bolder;
    /* margin-left: -120px; */
    border: 2px solid white;
    padding: 20px 50px 20px 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    text-align: center;
    animation: fadeIn 2.5s ease-out;
}

h1 {
    color: #333;
    margin-bottom: 10px;
    text-decoration-line: underline;
    text-decoration-style: dotted;
    text-decoration-color: rgb(8, 80, 80);
    color: white;
}

p {
    color: white;
    margin-bottom: 20px;
}

label {
    display: block;
    color: #333;
    margin-bottom: 5px;
    text-align: left;
}

input[type="text"],
input[type="email"],
textarea {
    background-color: transparent;
    color: white;
    font-weight: bolder;
    font-size: large;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    /* border: 1px solid #ccc; */
    border: none;
    /* background-color: rgba(255, 0, 0, 0.233); */
    background-image: url("../images/bg5.jpg");
    background-position: center;
    border-radius: 5px;
    font-size: 16px;
}

::placeholder {
    color: white;
    font-weight: bold;
}

button {
    padding: 10px 20px;
    color: white;
    font-weight: bolder;
    /* border: none; */
    cursor: pointer;
    border-radius: 5px;
    transition: background-position 0.3s;
    background-image: url("../images/bg5.jpg");
    background-position: center;
    background-size: cover;
}

button:hover{
    background-position:0 0;
}

.note{
    width: 100%;
    background-color: white;
    display: flex;
    gap: 200px;
    justify-content: center;
    color: #666;
    font-size: large;
    font-weight: bold;
}


.navbar {
    width: 100%;
    position: sticky;
    top: 0;
    /* width: 100%; */
    background-image: url("../images/nav.png");
    opacity: 0.9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    flex-wrap: wrap;
}
.navbar .logo img {
    height: 65px;
    width: 112px;
    border: 3px solid rgba(0, 0, 0, 0);
    outline: 2px solid white;
    border-radius: 6px;
    /* margin-right: 20px; */
}

.navbar ul {
    right: 150px;
    /* width: 85%; */
    /* width: 1%; */
    list-style: none;
    /* display: flex; */
    /* justify-content: space-evenly; */
    /* gap: 10px; */
    /* Reduced gap to fit all items */
    /* margin: 0; */
    /* padding: 0; */
    /* flex-wrap: wrap; */
    /* Allow items to wrap to the next line if necessary */
    /* font-weight: bolder; */
    
}

.navbar ul li {
    /* display: flex; */
    /* align-items: center; */
    background: linear-gradient(to right, #fd0202 50%, #fd919a2d 51%, #dda9a900 50%, #f8d3d300 100%);
    background-size: 210% 10%;
    background-position: bottom right;
    transition: background-position 0.3s;
    /* background-color: rgba(255, 255, 255, 0); */

    /* another animation */

    transition: background-position 1s ; 
    /* background: 
    linear-gradient(to right, rgb(84, 220, 54), rgb(30, 243, 58)),
    linear-gradient(to right, rgb(21, 255, 0), rgb(43, 255, 0), rgb(0, 200, 53));
    background-size: 100% 0.1em, 0 0.1em;
    background-position: 100% 100%, 0 100%;*/
    background-repeat: no-repeat; 
}

.navbar ul li:hover{
    background-size: 200% 10%;

    background-position: bottom left;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
    font-size: 18px;
    /* Adjusted font size */
    padding: 5px 10px;
    border-radius: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: background-color 0.3s, color 0.3s;
}

.navbar a:hover {
    color: red;
}



.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

@media screen and (max-width: 480px) {

    .navbar .logo img {
        height: 55px;
        width: 65px;
    }

    
.contact-container {
    width: 250px;
    margin-left: -10px;
}

.big-cont{
    height: 87.7vh;
    /* width: 100vw; */
    /* position: relative; */
    overflow: hidden;
    background-image: url('../images/bk-cntct1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}


.note{
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 0px;
    justify-content: center;
    align-items: center;
    color: #666;
    font-size: large;
    font-weight: bold;

}

}